#### 11. 변수 사용하기

In [4]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 100

In [5]:
print(총평가금액)

5000000

#### 12 . 변수 사용하기

In [6]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액);print(현재가);print(PER)

298000000000000
50000
15.79

#### 13. 문자열 출력

In [9]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

#### 14. 파이썬을 이용한 값 계산

In [10]:
2+2*3
#8

8

#### 15. type 함수

In [11]:
# >> a = 128
# >> print (type(a))
# <class 'int'>
a = "132"
print(type(a))

<class 'str'>

#### 16. 문자열을 정수로 변환

In [12]:
num_str = "720"
int(num_str)

720

#### 17. 정수를 문자열 100으로 변환

In [13]:
num = 100
str(num)

'100'

#### 18. 문자열을 실수로 변환

In [16]:
a = "15.79"
float(a), type(a)

(15.79, str)

#### 19. 문자열을 정수로 변환

In [17]:
year = "2020"
year = int(year)
print(year-2, year-1, year)

2018 2019 2020

#### 20. 파이썬 계산

In [18]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
월금액 = 48584
총금액 = 월금액 * 36
print(총금액)

1749024