### 전처리
- 문제설정 > 데이터 수집> 데이터 처리 > 데이터 분석 > 결론도출

```
["A",3,5,1] [w0] [0]
["B",4,9,8]*[w1]=[1]
["0",1,0,1] [w2] [0]
[1,1,0,1] [w3]# w값 알고리즘 다양함 예측값 정확도 달라짐 - 모델링, 데이터 분석 과정
[1,1,0,1] # 문자를 숫자형태로 바꿔주는 것이 데이터 처리 과정
```

In [2]:
%ls datas

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 0A77-9793

 C:\Code\본강의\02_numpy_python\실강\02_pandas\datas 디렉터리

2020-12-30  오전 11:09    <DIR>          .
2020-12-30  오전 11:09    <DIR>          ..
2019-07-28  오전 04:46         1,010,062 article.csv
2020-06-06  오전 05:00               159 preprocessing.csv
2020-07-22  오후 11:25        58,052,466 seoul.csv
               3개 파일          59,062,687 바이트
               2개 디렉터리  103,097,454,592 바이트 남음

In [6]:
df = pd.read_csv("datas/preprocessing.csv")
df

    x1   x2   x3          x4 x5
0  1.0  0.1  1.0  2019-01-01  A
1  2.0  NaN  NaN  2019-01-02  B
2  3.0  NaN  3.0  2019-01-03  C
3  NaN  0.4  4.0  2019-01-04  A
4  5.0  0.5  5.0  2019-01-05  B
5  NaN  NaN  NaN  2019-01-06  A
6  7.0  0.7  7.0         NaN  A

In [7]:
# 1. 결측 데이터 (NaN)
# missingno 패키지
# $pip install missingno

In [17]:
!pip install missingno

Requirement already satisfied: missingno in c:\anaconda3-1\lib\site-packages (0.4.2)
Requirement already satisfied: matplotlib in c:\anaconda3-1\lib\site-packages (from missingno) (3.2.2)
Requirement already satisfied: numpy in c:\anaconda3-1\lib\site-packages (from missingno) (1.18.5)
Requirement already satisfied: scipy in c:\anaconda3-1\lib\site-packages (from missingno) (1.5.0)
Requirement already satisfied: seaborn in c:\anaconda3-1\lib\site-packages (from missingno) (0.10.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3-1\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\anaconda3-1\lib\site-packages (from matplotlib->missingno) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3-1\lib\site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\anaconda3-1\lib\site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: pandas>=0.22.0 in c:\anaconda3-1\lib\site-packages (from seaborn->missingno) (1.0.5)
Requirement already satisfied: six in c:\anaconda3-1\lib\site-packages (from cycler>=0.10->matplotlib->missingno) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\anaconda3-1\lib\site-packages (from pandas>=0.22.0->seaborn->missingno) (2020.1)

In [18]:
import missingno as msno

ValueError: supported formats are: 'pdf','png2x','jpg','png','retina','svg','jpeg' not 'retine'

In [14]:
# df.insa()
df.isnull().sum()

x1    2
x2    3
x3    2
x4    1
x5    0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      5 non-null      float64
 1   x2      4 non-null      float64
 2   x3      5 non-null      float64
 3   x4      6 non-null      object
 4   x5      7 non-null      object
dtypes: float64(3), object(2)
memory usage: 408.0+ bytes

In [20]:
msno.matrix(df)

NameError: name 'msno' is not defined

In [19]:
msno.bar(df)

NameError: name 'msno' is not defined

In [ ]:
# 결측치 데이터 처리

In [ ]:
# nan가 있는 row나 column을 제거

In [21]:
df.dropna() # row 삭제

    x1   x2   x3          x4 x5
0  1.0  0.1  1.0  2019-01-01  A
4  5.0  0.5  5.0  2019-01-05  B

In [22]:
df.dropna(axis =1) # column삭제

  x5
0  A
1  B
2  C
3  A
4  B
5  A
6  A

In [ ]:
# 데이터가 많이 비어있는 컬럼을 삭제

In [23]:
# row 데이터가 5개 이상인 데이터만 남김
df.dropna(thresh=5, axis =1)

    x1   x3          x4 x5
0  1.0  1.0  2019-01-01  A
1  2.0  NaN  2019-01-02  B
2  3.0  3.0  2019-01-03  C
3  NaN  4.0  2019-01-04  A
4  5.0  5.0  2019-01-05  B
5  NaN  NaN  2019-01-06  A
6  7.0  7.0         NaN  A

In [24]:
# 결측 데이터 탐색 및 제거 : titanic

In [25]:
titanic_df= sns.load_dataset("titanic")
titanic_df.tail()

NameError: name 'sns' is not defined

In [27]:
msno.matrix(titanic_df)

NameError: name 'msno' is not defined

In [28]:
# 80% 데이터가 있는 컬럼만 남기기
titanic_df = titanic_df.dropna()

In [29]:
msno.matrix(titanic_df)

NameError: name 'msno' is not defined

In [30]:
titanic_df = titanic_df.dropna()

NameError: name 'titanic_df' is not defined

In [ ]:
msno.matrix_(titanic_df)

In [33]:
# 결측치 채우기 : 평균값, 중간값, 최빈값, -1, 0, 1

In [34]:
df

    x1   x2   x3          x4 x5
0  1.0  0.1  1.0  2019-01-01  A
1  2.0  NaN  NaN  2019-01-02  B
2  3.0  NaN  3.0  2019-01-03  C
3  NaN  0.4  4.0  2019-01-04  A
4  5.0  0.5  5.0  2019-01-05  B
5  NaN  NaN  NaN  2019-01-06  A
6  7.0  0.7  7.0         NaN  A

In [36]:
from sklearn.impute import SimpleImputer

In [37]:
imputer = SimpleImputer(strategy= "most_frequent")
#imputer 객체 생성

In [41]:
pd.DataFrame(imputer.fit_transform(df),columns=df.columns)

  x1   x2 x3          x4 x5
0  1  0.1  1  2019-01-01  A
1  2  0.1  1  2019-01-02  B
2  3  0.1  3  2019-01-03  C
3  1  0.4  4  2019-01-04  A
4  5  0.5  5  2019-01-05  B
5  1  0.1  1  2019-01-06  A
6  7  0.7  7  2019-01-01  A

In [43]:
df = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)

In [ ]:
# msno.matrix(df)

In [45]:
titanic_df= sns.load_dataset("titanic")

NameError: name 'sns' is not defined

In [57]:
msno.matrix(titanic_df)

NameError: name 'msno' is not defined

In [ ]:
# 80% 이상의 컬럼데이터만 남기고 
# 범주형 데이터는 최빈값
# 수치형 데이터는 평균이나 중앙값으로 채우기

In [48]:
titanic_df = titanic_df.dropna(thresh=int(len(titanic_df) * 0.8), axis=1)

NameError: name 'titanic_df' is not defined

In [49]:
titanic_df = titanic_df.dropna(thresh=int(len(titanic_df) * 0.8), axis=1)

NameError: name 'titanic_df' is not defined

In [50]:
titanic_df.columns

NameError: name 'titanic_df' is not defined

In [56]:
# 범주형 데이터는 최빈값
columns = ["embarked", "embark_town"]
imputer_mf = SimpleImputer(strategy="most_frequent")
for column in columns:    
    titanic_df[column] = imputer_mf.fit_transform(titanic_df[[column]])

NameError: name 'titanic_df' is not defined

In [58]:
msno.matrix(titanic_df)

NameError: name 'msno' is not defined

In [59]:
# 수치형 데이터는 평균이나 중앙값으로 채우기
# 좌우대칭일 경우 평균으로 한쪽으로 치우치면 중앙값으로 구하기

In [60]:
sns.distplot(titanic_df.age)

NameError: name 'sns' is not defined

In [61]:
imputer_median = SimpleImputer(strategy="median")

In [62]:
titanic_df["age"]=imputer_median.fit_transform(titanic_df[["age"]])

NameError: name 'titanic_df' is not defined

In [63]:
msno.matrix(titanic_df)

NameError: name 'msno' is not defined

In [66]:
# 2. 범주형 데이터 : 더미 변수화 : 원핫 인코딩

In [ ]:
titanic_df.colums

In [67]:
df = titanic_df[["survived","pclass","sex","age","embarked"]]

NameError: name 'titanic_df' is not defined

In [ ]:
# 학점 데이터 :  순서가 있기 때문에 숫자로 대입 해도 됨
# 성별 데이터 : 순서가 없기 때문에 0,1 으로 할 경우 높낮이가 있기 때문에
# 이렇게 하면 안되고 원핫 인코딩을 사용해야한다.

In [72]:
sex_df = pd.get_dummies(df["sex"])
embarked_df = pd.get_dummies(df["embarked"])
df = pd.concat([df, sex_df,embarked_df],axis=1)
df

KeyError: 'sex'

In [73]:
df = df.drop(columns=["sex","embarked"])

KeyError: "['sex' 'embarked'] not found in axis"

In [74]:
df

  x1   x2 x3          x4 x5
0  1  0.1  1  2019-01-01  A
1  2  0.1  1  2019-01-02  B
2  3  0.1  3  2019-01-03  C
3  1  0.4  4  2019-01-04  A
4  5  0.5  5  2019-01-05  B
5  1  0.1  1  2019-01-06  A
6  7  0.7  7  2019-01-01  A