#### 71

In [7]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

#### 72

In [6]:
movie_rank = ("닥터스트레인지","스플릿","럭키")

#### 73

In [10]:
num1 = (1)
type(num1)

int

In [ ]:
# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.

# my_tuple = (1, )

#### 74

In [11]:
> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
    # 오류 원인: tuple은 수정할 수 없음.

SyntaxError: invalid syntax (<ipython-input-11-66bf4bc6be52>, line 1)

#### 75

In [12]:
t = 1, 2, 3, 4
# 타입 -> tuple

#### 76

In [ ]:
t = ('a', 'b', 'c')
t[0].upper() + t[1:]
# 코드 동작하지 않음
t = ('A','b','c')
# 새로운 튜플을 만들고 변수 업데이트해야함

#### 77

In [15]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

#### 78

In [16]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

#### 79 튜플 언팩킹(다시!!)

In [17]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

#### 80 range 함수(다시!)

In [21]:
data = tuple(range(1,100,2))
print(data)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)