### 연산자 : Operators
- 산술연산자
- 비교연산자 
- 할당연산자
- 논리연산자
- 멤버연산자

#### 1. 산술연산자
- + : 덧셈
- - : 뺄셈
- * : 곱셈
- / : 나눗셈
- // : 몫
- % : 나머지
- ** : 제곱

In [3]:
print(2 + 4)

6

In [4]:
a, b = 2, 4
print(a + b)

6

In [7]:
print(2-4)
print(2 * 4)
print(10/3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

-2
8
3.3333333333333335
3
1
81

## 부동소수점 문제
- 10진수를 2진수로 변환할때 발생하는 문제 (정확성은 16~17자리)

In [9]:
0.1 + 0.2

0.30000000000000004

In [7]:
a, b = 0.1, 0.2 
(a + b) == 0.3

False

In [8]:
# 정수로 변환해준 후에 실수로 바꿔줌
a = a * 10
b = b * 10
(a + b) / 10

0.3

# 연산자 우선순위 : ** -> *, / , //, % -> +, -

In [10]:
# 반올림
a, b = 0.1, 0.2 
round(a + b, 1)

0.3

In [13]:
# 고정소수점으로 표현
from decimal import Decimal
float(Decimal(str(a)) + Decimal(str(b)))

0.3

### Quiz 1 
- 아래 데이터의 총점과 평균을 구하세요.
```
data = ("korean":96.3, "english": 78.4, "science": 87.2, "math": 92.4)
```
- sum, len 함수를 이용
- 정수로 변경, 반올림, 고정소수점

In [24]:
data = {"korean": 96.3, "english": 78.4, "science": 87.2, "math": 92.4}
data

{'korean': 96.3, 'english': 78.4, 'science': 87.2, 'math': 92.4}

In [25]:
data.values()
sum(data.values())

354.29999999999995

In [26]:
len(data)

4

In [36]:
data.values()
round(sum(data.values()), 1)

354.3

In [40]:
(round(round(sum(data.values()))/len(data), 1))

88.5

In [41]:
# 소수점을 없애고 계산
total = 0
total = data["korean"] * 10
total = total + data["english"] * 10
total = total + data["science"] * 10
total = total + data["math"] * 10
total = total / 10
total, total / len(data)

(354.3, 88.575)

In [42]:
# 반올림으로 해결
total = round(sum(data.values(),1))
total, total / len(data)

(355, 88.75)

In [51]:
# 고정소수점으로 해결
from decimal import Decimal
total = 0
total = Decimal(str(data["korean"]))
total = total + Decimal(str(data["korean"]))
total = total + Decimal(str(data["science"]))
total = total + Decimal(str(data["math"]))
float(total), float(total) / len(data)

(372.2, 93.05)

### 2. 비교연산자
- ==. !=. >, <. >=, <=

In [53]:
a,b = 10, 20

In [54]:
print(a==b)

False

In [57]:
print(a != b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False
True

### Quiz 2
- 산술연산과 비교연산을 사용하여 data가 홀수일때는 True, 짝수일때는 False를 출력하는 코드를 작성하세요

In [62]:
data = 3
print(data % 2 == 1)
print(data % 2 == 0)

True
False

### 3. 할당연산자
- 대입연산자와 산술연산자를 사용하여 만들어진 연산자
- +=, -+, =, /=. *=, %=, //=

In [64]:
data = 5
print(data)

5

In [65]:
data = data + 10
print(data)

15

In [66]:
data = 5
data += 10 
print(data)

15

### Quiz 3
- 할당연산자를 이용해서 리스트 안에 있는 숫자의 평균을 구하시오.
```
ls = [87, 76, 98, 69]
```
- 결과
```
result => 82.5
```

In [75]:
ls = [87, 76, 98, 69]
result = 0
result = (ls[0] + ls[1] + ls[2] + ls[3]) /len(ls)
print(result)

82.5

In [76]:
ls = [87, 76, 98, 69]
result =0
result += ls[0]
result += ls[1]
result += ls[2]
result += ls[3]
result /= len(ls)
print(result)

82.5

#### 4. 논리연산자
- 논리의 참과 거짓을 나타내는 연산자
- and : 두개의 논리가 모두 True인 경우 True 
- or : 두개의 논리가 모두 False인 경우 False
- not : True는 False로, False는 True로 변환

In [78]:
print(True and True)
print(True and False)

True
False

In [80]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [83]:
print(not(True))
print(not(True or True))

False
False

In [88]:
a, b = 1, 2
(a < b) and (a == b)

False

### 4. Quiz
- 산술연산과 비교연산을 사용하여 변수 a가 3또는 5의 배수일때 True를 출력하는 코드를 작성하세요,
```
a = 9 # True
a = 7 # False
a = 10 # True
a = 15 # True
```

In [97]:
data = 15
(data % 3 == 0) or (data % 5 == 0)

True

### Quiz 5
- 변수 a, b가 있는데 둘다 10이하인 경우 True 출력하는 연산자를 만드시오.
```
a, b = 9, 8 # True
a, b = 7, 15 # False
a, b = 11,12 # False
```
- 비교연산자, 논리 연산자

In [104]:
a, b = 9, 8
(a <= 10)  and (b <= 10) == True

False

### Quiz 6
- 변수 a, b, c 중 a 와 b는 홀수 c는 짝수일때 False 를 출력한는 연산자를 만드시오.
```
a, b, c = 1, 3, 2 # False
a, b, c = 4, 3,2 # True
a, b, c = 5, 3, 1 # True
```

### 5. 멤버 연산자
- <특정 데이터> in <데이터 집합> :데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 True
- not in : 데이터 집합에서 특정 데이터가 있는지 확인해서 있으면 False, 없으면 True.

In [111]:
data = [1,2,3,4]
2 not in data, 5 not in data

(False, True)

In [116]:
#  그냥 변수명으로 사용하면 키값에서 데이터가 있는지 확인
data = {1:"one",2 :"two",3:"three"}
3 in data, "2" in data, "one" in data

(True, False, False)

In [115]:
"two"in data.values()

True