### 반복문 : Loop
- while
- break
- continue
- for

#### 1. while
- condition이 False가 될때까지 code를 반복적으로 실행
```
while <condition>:
    <code>
```
- wile 무한루프에 빠질 위험이 있으므로 주의해서 사용을 해야합니다.

In [5]:
a = 3
while a:
    print(a)
    a -= 1
a

3
2
1

0

#### Quiz 1
- 아래의 ls 리스트의 값을 while 문을 사용하여 다 더하는 코드를 작성하세요.
```
ls = [1,2,3,4,5,6,7,8,9,10]
```

In [13]:
ls = [1,2,3,4,5,6,7,8,9,10]
len(ls)

10

In [16]:
result = 0
idx = len(ls)
while idx:
    idx -= 1
    result +=ls[idx]
print(result)

55

#### 2. break
- 반복문이 실행되던 중간에 break 만나게 되면 반복문이 종료됩니다.

In [20]:
a = 3
while a:
    print(a)
    if a == 2: 
        break
    a-=1
a

3
2

2

In [8]:
# 무한루프 : Kernel-> Interrupt
while True:
    a = 1

KeyboardInterrupt:

#### 3. continue
- 반복문이 실행되던 중간에 continue를 만나게 되면 반복문의 조건을 비교하는 부분으로 올라가서 코드가 실행됨

In [23]:
a = [1, 2, 3, 4, "q"]
idx = 0

while True:
    data = a[idx]
    idx += 1
    
    if data == "q":
        break
    elif data % 2 == 0:
        continue
        
    print(data)

1
3

#### Quiz 2
- q를 입력할때 까지 계속 값으 입력 받아서 q를 입력할 때 입력받은 값을 출력하는 코드를 작성하세요.
- 데이터를 입력받을때 몇번째 입력인지도 출력
```
1번째 입력 (종료 :q): data
2번째 입력 (종료  : q) : python
3번째 입력 (종료 : q) : science
4번째 입력 (종료 : q) : q
    
["data", "python", "science"]

```

In [1]:
data= []
while True:
    data = input("insert string:")
    
    if data == "q":
        break
        
print(data)

KeyboardInterrupt: Interrupted by user

In [3]:
result = []
count = 1
while True:
    data = input("{}번째 입력 (종료: q):".format(count))
    count += 1
    
    if data == "q":
        break
        
    result.append(data)
        
print(result)

1번째 입력 (종료: q):data
2번째 입력 (종료: q):python
3번째 입력 (종료: q):science
4번째 입력 (종료: q):q
['data', 'python', 'science']

In [14]:
data= []
while True:
    data = input("insert string:")
    
    if data == "q":
        break
        
    result.append(data)   
    
print(data)

insert string:data
insert string:python
insert string:science
insert string:q
q

In [13]:
count, result = 0, []

while True:
    count += 1
    data = input("{}번째 입력 (종료: q):".format(count))
    
    if data == "q":
        break
        
    result.append(data)
    
print(result)

1번째 입력 (종료: q):data
2번째 입력 (종료: q):python
3번째 입력 (종료: q):science
4번째 입력 (종료: q):q
['data', 'python', 'science']

In [4]:
count, result = 0,[]
while True:
    count +=1
    data = input("{}번째 입력(종료 : q): ".format(count))
    
    if data == "q":
        break
    
    result.append(data)
    
print(result)

1번째 입력(종료 : q): data
2번째 입력(종료 : q): python
3번째 입력(종료 : q): science
4번째 입력(종료 : q): q
['data', 'python', 'science']

### 4. for
- 순서가 있는 데이터의 집합(리스트, 튜플)에서 값을 하나씩 꺼내서 변수에 대입시킨 후 for 구문 안에 있는 코드를 실행시키는 반복문
```
for<변수> in <순서가 있는 데이터 집합>:
    <code>
```

- range
- enumerate
- zip

In [6]:
ls = [0,1,2,3,4]
for value in ls:
    print(value, end=" ") #5번 실행

0 1 2 3 4

In [8]:
#dictionary를 사용한 for 반복문
dic = {"A":1,"B":2}
for key in dic:
    print(key)

A
B

In [9]:
dic.items()

dict_items([('A', 1), ('B', 2)])

In [13]:
for key, value in dic.items(): #("A",1)
    print(key, value)

A 1
B 2

#### Quiz 3
- for문을 이용하여 아래 리스트에 있는 숫자를 모두 더하는 코드를 작성하세요.
- for, 할당연산자를 사용
```
numbers=[1,3,5,8,10,14]
result = 41
```

In [28]:
numbers=[1,3,5,8,10,14]
result = 0
for data in numbers:
    result += data
    
result

41

### 4.1 range
-list를 간편하게 생성해주는 함수입니다.
- 함수 : 코드의 집합을 실행시켜주는 방법
```
range(end)
range(start,end)
range(start,end,stride)
```

In [29]:
ls = [1,2,3]
ls

[1, 2, 3]

In [32]:
for _ in ls:
    print("data science")

data science
data science
data science

In [34]:
list(range(3))

[0, 1, 2]

In [35]:
for _ in range(3):
    print("data science")

data science
data science
data science

In [37]:
list(range(2,5))

[2, 3, 4]

In [38]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [1]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
a= 0
for _ in range(3):
    a +=1
a

3

### Quiz 4
-5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.
```
*
**
*** 
****
*****
```

In [47]:
data = 0
data +=1
for data in range(5):
    print("*")

*
*
*
*
*

In [49]:
number = 5
for num in range(1,number +1):
    print("*" * num)

*
**
***
****
*****

### Quiz 5
-5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.
```
    *
   **
  ***
 ****
*****
```

In [56]:
number = 5
for num in range(1,number +1):
    space = number - num
    print(space*" ",num* "*")

     *
    **
   ***
  ****
 *****

###Quiz 6
- 5를 입력했을때 아래와 같이 별이 출력되도록 코드를 작성하세요.
- 홀수만 입력 가능합니다.

```
  *
 ***
*****
```

In [59]:
number = 5
for num in range(1, number +1, 2):
    space = number%3
    print(space*" ",num* "*")

   *
   ***
   *****

In [62]:
number = 5
space = number // 2
for num in range(1, number +1, 2):
    print(space*" ",num* "*")
    space -=1

   *
  ***
 *****

### Quiz 7
- 구구단의 단을 입력하면 해당 단을 출력하는 코드를 작성하세요.

```
input number : 4
    
4단
4*1 = 4
4*2 = 8
...
4*9 = 36
```

In [5]:
number = int(input("insert number: "))
print("{}단".format(number))
for result in range(1,10):
    print("{}*{} = {}".format(number,result,number*result))

insert number: 4
4단
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36

In [74]:
number = int(input("input number:"))
print("{}단".format(number))
for result in range(1,10):
   
    print("{}*{} = {}".format(number,result,number * result))

input number:4
4단
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36

###Quiz 5
- 아래의 2개의 리스트 데이터를

```
subject = ["korean","english","math","science"]
points = [100,80,90,60]
```
아래와 같이 딕셔너리 데이터로 만드는 코드를 작성하세요.

```
{'english':80,'korean':100,'math':90,'science':60}
```

In [12]:
subject = ["korean","english","math","science"]
points = [100,80,90,60]
subject.sort()
points.sort()
result = {}

for result(key), result(values) in subject, points:
    print(result)

SyntaxError: cannot assign to function call (<ipython-input-12-74167f50d393>, line 7)

In [30]:
subject = ["korean","english","math","science"]
points = [100,80,90,60]
result = {}
count = len(points) if len(subject) > len(points) else len(subject)

for idx in range(count):
    print(subject[idx],points[idx])
    result[subject[idx]] = points[idx]

result

korean 100
english 80
math 90
science 60

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [6]:
subject = ["korean","english","math"]
points = [100,80,90,60]

result = {}
count = len(points) if len(subject) > len(points) else len(subject)

for idx in range(count):
    print(subject[idx],points[idx])
    result[subject[idx]] = points[idx]

result

korean 100
english 80
math 90

{'korean': 100, 'english': 80, 'math': 90}

In [10]:
subject = ["korean","english","math"]
points = [100,80,90,60]
result = {}
count = len(points) if len(subject)>len(points) else len(subject)
for idx in range(count):
    result[subject[idx]] = points[idx] 
result

{'korean': 100, 'english': 80, 'math': 90}

In [25]:
subject = ["korean","english","math","science"]
points = [100,80,90]

result = {}
count = len(points) if len(subject) > len(points) else len(subject)

for idx in range(count):
    print(subject[idx],points[idx])
    result[subject[idx]] = points[idx]

result

korean 100
english 80
math 90

{'korean': 100, 'english': 80, 'math': 90}

### 4.2 enumerate
- 리스트 데이터를 index와 value 값을 동시에 사용할 수 있게 해주는 함수입니다.

In [39]:
#과목명과 과목 번호를 같이 출력
subjects = ["korean","english","math","science"]
number = 1
for subject in subjects:
    print(number, subject)
    number +=1

1 korean
2 english
3 math
4 science

In [40]:
list(enumerate(subjects))

[(0, 'korean'), (1, 'english'), (2, 'math'), (3, 'science')]

In [42]:
for idx, subject in enumerate(subjects):
    print(idx+1, subject)

1 korean
2 english
3 math
4 science

#### 4.3 zip
- n개의 리스트를 같은 index끼리 묶어주는 함수

In [45]:
subject = ["korean","english","math"]
points = [100,80,90,60]
list(zip(subjects, points))

[('korean', 100), ('english', 80), ('math', 90), ('science', 60)]

In [51]:
result = {}
for subject, point in zip(subjects,points):
    result[subject] = point
result

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

In [52]:
dict(zip(subjects,points))

{'korean': 100, 'english': 80, 'math': 90, 'science': 60}

### *랜덤 함수

In [53]:
import random

In [57]:
# 1 ~10 랜덤하게 정수데이터를 뽑고 싶으면 
random.randint(1,10)

4

In [60]:
# 설정한 데이터에서 하나의 데이터를 랜덤하게 뽑기
random.choice([1, 5, 9])

5

### Quiz 9
- 로또 번호를 출력하는 코드를 작성하세요. 
- 1~45  사이의 슷자중에 6개의 숫자를 뽑으시면 됩니다.
- 중복이 되지 않도록 6개의 숫자를 뽑으시면 됩니다.
- while, break, if, in, list, append를 사용.

```
result =>[3,8,15,19,25,31]
```

In [63]:
random.randint(1,45)

32

In [74]:
import random

count,result = 0,[]
while True:
    count += 1
    data = random.randint(1,45)
    
    if data == data in result:
        break
        
    if count == 7:
        break
        
    result.append(data)
    result.sort()
result

[3, 6, 7, 11, 16, 17]

In [81]:
import random

result = []

while True:
    
    number = random.randint(1,45)
    
    if number not in result:
        
        
        result.append(number)
    
    if len(result) ==6:
        result.sort()
        break
        
result

[2, 14, 20, 24, 26, 42]

In [14]:
import random
result = []

while True:
    number = random.randint(1,45)
    if number not in result: 
        result.append(number)
        result.sort()
    if len(result) == 7:
        break
    

result

[5, 11, 13, 15, 23, 28, 29]