- 데이터 타입
- 데이터 형변환
- 입출력

### 예제

### 1. 데이터 타입을 확인하는 함수를 사용하여 아래 변수의 데이터 타입을 확인하세요.

```
data = "python"
```

In [1]:
data = "python"
print(type(data))

<class 'str'>

### 2. 오프셋 인덱스와 split(), upper() 함수를 사용하여 아래의 문자열의 첫번째 문자를 대문자로 변경하세요.

```
data = "python science"
```

- 결과

```
result => "Python Science"
```

In [2]:
data = "python science"
result = data.split(" ")
result = data[0].upper() + data[1:6] + " " + data[7].upper() + data[8:]
print(result)

Python Science

### 3. 아래의 딕셔너리 데이터에서 국어와 수학점수를 더한 점수를 출력하세요.

```
dic = {"국어": 80, "수학": 90}
```

- 결과

```
result => 170
```

In [10]:
dic = {"국어": 80, "수학": 90}
result = sum(dic.values())
print(result)

170

### 4. 아래의 리스트를 ,로 구분하는 문자열로 변경하는 코드를 작성하세요.

```
ls = ["data", "science", "python"]
```

- 결과

```
result => "data, science, python"
```

In [22]:
ls = ["data", "science", "python"]
print(ls[0], ls[1], ls[2], sep = ", ")

data, science, python

### 5. 아래의 리스트를 내림차순으로 정렬하세요.

```
ls = [3, 1, 2, 7, 4, 9]
```

- 결과

```
result => [9, 7, 4, 3, 2, 1]
```

In [20]:
ls = [3, 1, 2, 7, 4, 9]
ls.sort()
ls.reverse()
print(ls)

[9, 7, 4, 3, 2, 1]

### 6. 문자열을 3번 입력 받아 ,로 구분자로 문자열을 출력하세요.

- input함수를 3번 print 함수를 한번 사용하세요

In [28]:
data1 = input("insert string: ")
data2 = input("insert string: ")
data3 = input("insert string: ")
print(data1, data2, data3, sep = ",")

insert string: python
insert string: fast
insert string: campus
python,fast,campus

### 7. boolean 형변환 했는데 false인 경우는?   3, 5

1. bool(" ")
1. bool(1)
1. bool(0)
1. bool([0])
1. bool({})

### 8. string format 함수를 사용하여 딕셔너리 데이터를 결과와 같이 출력하세요.

- list(dic.values()) 코드를 사용하여 딕셔너리의 value 데이터를 리스트로 변경해서 코드를 작성하세요.

```
dic = { "korean":80, "english":90 }
```

- 결과

```
result => "korean:80, english:90"
```

In [58]:
dic = { "korean":80, "english":90 }
ls = list(dic.values()) + list(dic.keys())
data1 = ls[2] + ":" + str(ls[0])
data2 = ls[3] + ":" + str(ls[1])
result = data1 + ", " + data2
print(result)

korean:80, english:90

In [62]:
dic = { "korean":80, "english":90 }
ls = list(dic.values()) + list(dic.keys())
"{}:{}, {}:{}".format(ls[2], ls[0], ls[3], ls[1])

'korean:80, english:90'

### 9. 아래의 리스트 데이터를 다 더하는 코드를 작성하세요.

```
ls = [[1, 2], [3, 4]]
```

- sum 함수를 사용하세요.

```
data = [1, 2, 3]
sum(data) => 6
```

In [43]:
ls = [[1, 2], [3, 4]]
data = ls[0] + ls[1]
data = sum(data[:3])
print(data)

6

### 10. sum 함수를 이용하여 딕셔너리 데이터를 다 더한 결과를 출력하세요.

```
data = {"korean":80, "english": 70, "math": 90}
```

- 결과

```
result => 240
```

In [33]:
data = {"korean":80, "english": 70, "math": 90}
result = data.values()
result = sum(result)
print(result)

240