<a href="https://colab.research.google.com/github/leekj3133/dss_JU/blob/main/Dacon/Lv1.%20%EC%9D%98%EC%82%AC%EA%B2%B0%EC%A0%95%ED%9A%8C%EA%B7%80%EB%82%98%EB%AC%B4%EB%A1%9C%20%EB%94%B0%EB%A6%89%EC%9D%B4%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%98%88%EC%B8%A1%ED%95%98%EA%B8%B0/Lv1_%EB%B3%B5%EC%8A%B5_2_2%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
--- 
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colabÏóê Î∂àÎü¨ÏòµÎãàÎã§.  
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§Ìñâ ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-09-08 06:33:32--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-09-08 06:33:32--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 142.250.81.206, 2607:f8b0:4004:82f::200e
Connecting to drive.google.com (drive.google.com)|142.250.81.206|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/pou3ug269r5ngvacg22aiesnmb0dfipi/1631082750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-09-08 06:33:35--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/pou3ug269r5ngvacg22aiesnmb0dfipi/1631082750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 172.217.2.97, 2607:f8b0:4004:80a::2001
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|172.217.2.97|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‚Äò3gLj0Q6‚Äô

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.008s

2021-09-08 06:33:35 (4.75 MB/s) - ‚Äò3gLj0Q6‚Äô saved [39208/39208]

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
---

In [18]:
# Pandas ÏôÄ Scikit-learn ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---

In [19]:
# train.csv ÏôÄ test.csv Î•º DataFrame ÌÅ¥ÎûòÏä§Î°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî
train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

## Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ Í¥ÄÏ∞∞ÌïòÍ∏∞
---

In [20]:
# head() Î•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥Î•º Í¥ÄÏ∞∞ÌïòÏÑ∏Ïöî
train.head(10)

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0
5  13     2                  13.6  ...           34.0            15.0   39.0
6  14     3                  10.6  ...           62.0            33.0   23.0
7  16    21                  16.0  ...           90.0            28.0  146.0
8  19     9                  13.8  ...           93.0            19.0   39.0
9  20    14                  17.2  ...           64.0            19.0   83.0

[10 rows x 11 columns]

In [21]:
test.head(10)

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0
5  10     9  ...           22.0             7.0
6  11    18  ...           17.0            12.0
7  12    18  ...           94.0            69.0
8  15     6  ...           57.0            33.0
9  17     8  ...           12.0            12.0

[10 rows x 10 columns]

## Îç∞Ïù¥ÌÑ∞ ÌñâÏó¥ Í∞ØÏàò Í¥ÄÏ∞∞
---

In [22]:
# shape Î•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Î•º Í¥ÄÏ∞∞ÌïòÏÑ∏Ïöî
print(train.shape)
print(test.shape)

(1459, 11)
(715, 10)

## Í≤∞Ï∏°Ïπò ÌôïÏù∏
---

In [23]:
# info() Î•º ÏÇ¨Ïö©Ìï¥ Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

## Í≤∞Ï∏°Ïπò Ï†ÑÏ≤òÎ¶¨
---

In [24]:
# dropna() Î•º ÏÇ¨Ïö©Ìï¥ train Îç∞Ïù¥ÌÑ∞Îäî Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞ÌïòÍ≥†
# fillna() Î•º ÏÇ¨Ïö©Ìï¥ test Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°ÏπòÎäî 0 ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî.
# Í∑∏Î¶¨Í≥† Í≤∞Ï∏°ÏπòÏùò Í∞ØÏàòÎ•º Ï∂úÎ†•ÌïòÏó¨ ÌôïÏïàÌïòÏÑ∏Ïöî.
train = train.dropna()
test  = test.fillna(0)

## Î™®Îç∏ ÌõàÎ†®
---

In [25]:
# train Îç∞Ïù¥ÌÑ∞Ïùò count ÌîºÏ≥êÎ•º Î∫Ä Í≤ÉÏùÑ X_train ÏúºÎ°ú Ìï†ÎãπÌïòÏÑ∏Ïöî.
# train Îç∞Ïù¥ÌÑ∞Ïùò count ÌîºÏ≥êÎßåÏùÑ Í∞ÄÏßÑ Í≤ÉÏùÑ Y_train ÏúºÎ°ú Ìï†ÎãπÌïòÏÑ∏Ïöî.
# ÌöåÍ∑ÄÏùòÏÇ¨Í≤∞Ï†ïÎÇòÎ¨¥Î•º ÏÑ†Ïñ∏ÌïòÍ≥† fit() ÏúºÎ°ú ÌõàÎ†®ÏãúÌÇ§ÏÑ∏Ïöî.
x_train = train.drop(["count"],axis=1)
y_train = train["count"]
model =DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## ÌÖåÏä§Ìä∏ ÌååÏùº ÏòàÏ∏°
---

In [26]:
# predict() ÏùÑ Ïù¥Ïö©Ìï¥ test data Î•º ÌõàÎ†®Ìïú Î™®Îç∏Î°ú ÏòàÏ∏°Ìïú data array Î•º ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
pred = model.predict(test)

## submission ÌååÏùº ÏÉùÏÑ±
---

In [30]:
# submission.csv Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
# submission df Ïùò count ÌîºÏ≥êÏóê ÏòàÏ∏°Ìïú Í≤∞Í≥ºÎ•º ÎçßÏûÖÌûàÏÑ∏Ïöî.
# submission df Î•º to_csv() Î•º Ïù¥Ïö©Ìï¥ csv ÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. *index=False) 
submission = pd.read_csv("./data/submission.csv")
submission["count"] = pred
submission.to_csv('./reg_sub.csv', index=False)

## Ï†ïÎãµ (`Ïà®Í≤®ÏßÑ ÏÖÄ nÍ∞ú` Î•º ÎàÑÎ•¥ÏÑ∏Ïöî.)
---
ÏßàÎ¨∏ÏÇ¨Ìï≠ÏùÑ ÏñºÎßàÎì†ÏßÄ [Í≤åÏãúÍ∏Ä](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)Ïóê ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî üòâ <br>
Í∂ÅÍ∏àÌïú Í≤É, Ïù¥Ìï¥Í∞Ä Ïïà ÎêòÎäî Í≤É, ÏõêÎ¶¨, ÌôïÏû•Í∞úÎÖê, Ï∞∏Í≥† Îì±Îì± Î™®Îì† Î≤îÏúÑÏóêÏÑú ÏñºÎßàÎì†ÏßÄ ÏßàÎ¨∏ÏùÑ Îã¨ÏïÑÏ£ºÏÑ∏Ïöî üôã

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [ ]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

In [ ]:
pred = model.predict(test)

In [ ]:
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)