#### 31 문자열 합치기

In [3]:
a = "3"
b = "4"
print(a + b)
#34

34

#### 32 문자열 곱하기

In [5]:
print("Hi" * 3)
# HiHiHi

HiHiHi

#### 33 문자열 곱하기

In [7]:
print("-"*80)

--------------------------------------------------------------------------------

#### 34 문자열 곱하기

In [12]:
t1 = 'python'
t2 = 'java'
# 실행 예:
# python java python java python java python java
print((t1+" "+t2 + " ")*4)

python java python java python java python java

#### 35 문자열 출력(난이도 있음)

In [16]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))
#print 포맷팅
# %s : 문자열 데이터 타입의 값
# %d : 정수형 데이터 타입 값

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 36 문자열 출력

In [17]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

#### 37 문자열 출력

In [19]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# f-string은 문자열 앞에 f가 붙은 형태
# f-string을 사용하면 {변수}와 같은 형태로 
#문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

#### 38 컴마 제거하기

In [21]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

#### 39 문자열 슬라이싱

In [27]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

#### 040 strip 메서드

In [23]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자