#### 171(다시!!)
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [1]:
price_list = [32100, 32150, 32000, 32500]

In [ ]:
32100
32150
32000
32500

In [2]:
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [3]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

#### 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
price_list = [32100, 32150, 32000, 32500]

In [ ]:
0 32100
1 32150
2 32000
3 32500

In [6]:
for num in range(4):
    print(num, price_list[num])

0 32100
1 32150
2 32000
3 32500

In [7]:
for num in range(len(price_list)):
    print(num, price_list[num])

0 32100
1 32150
2 32000
3 32500

In [151]:
### 참고!!!!!!!
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

#### 173(다시!!)
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [14]:
price_list = [32100, 32150, 32000, 32500]

In [ ]:
3 32100
2 32150
1 32000
0 32500

In [38]:
for num in range(4):
    for num1 in range(3,-1,-1):
        print(num1, price_list[num])

3 32100
2 32100
1 32100
0 32100
3 32150
2 32150
1 32150
0 32150
3 32000
2 32000
1 32000
0 32000
3 32500
2 32500
1 32500
0 32500

In [40]:
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [41]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

#### 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
price_list = [32100, 32150, 32000, 32500]

In [ ]:
100 32150
110 32000
120 32500

In [49]:
for i in range(1,len(price_list)):
    print(100+10*(i-1),price_list[i])

100 32150
110 32000
120 32500

#### 175
my_list를 아래와 같이 출력하라.

In [50]:
my_list = ["가", "나", "다", "라"]

In [ ]:
가 나
나 다
다 라

In [55]:
for i in range(len(my_list)):
    list = my_list[i:i+2]
    if len(list) == 2:
        print(list)

['가', '나']
['나', '다']
['다', '라']

#### 176
리스트를 아래와 같이 출력하라.

In [119]:
my_list = ["가", "나", "다", "라", "마"]

In [ ]:
가 나 다
나 다 라
다 라 마

In [120]:
for i in range(len(my_list)):
    list = my_list[i:i+3]
    if len(list) == 3:
        print(list)

['가', '나', '다']
['나', '다', '라']
['다', '라', '마']

#### 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

In [153]:
my_list = ["가", "나", "다", "라"]

라 다
다 나
나 가

In [107]:
for ls in range((len(my_list)-1),-1,-1):
    print(ls)

3
2
1
0

In [126]:
for i in range((len(my_list)-1),0,-1):
    print(my_list[i],my_list[i-1])

라 다
다 나
나 가

In [127]:
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [154]:
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

#### 178(다시!!)
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

In [132]:
my_list = [100, 200, 400, 800]

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

In [ ]:
100
200
400

In [131]:
for ls in range(len(my_list)-1):
    print(my_list[ls+1]-my_list[ls])

100
200
400

In [134]:
for ls in range(len(my_list)-1):
    print(my_list[ls+1]-my_list[ls])

100
200
400

#### 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

In [138]:
my_list = [100, 200, 400, 800, 1000, 1300]

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

In [ ]:
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [141]:
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

#### 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [142]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

In [155]:
volatilty=[]
for i in (range(len(low_prices))):
    volatilty.append(high_prices[i]-low_prices[i])
volatilty

[50, 100, 30, 80, 0]