# Pre-School 과제 - Python

----
1. 아래의 과제를 보고 코드를 작성하시면 됩니다.
2. 클래스 매니저님께서 과제에 대한 코드를 실행한 후에 정량적/정성적으로 평가할 예정입니다.
3. 과제에 대한 점수는 100점 만점으로 진행이 됩니다.
4. 퀴즈 및 과제기한은 11월 29일(일) 저녁 10시 까지 입니다.
6. 반드시 코드 작성란에만 코드를 작성하시고, 그 외에는 절대로 내용을 수정하지 마세요.
7. 작성란에 작성된 코드가 동작하는지 반드시 확인하세요. 코드가 동작하지 않으면 0점 처리됩니다. (예 : Syntax error 등 코드가 작동되지 않을 때)
8. ***예시 입출력이 주어진 경우, 최소한 예시 입력에 대해 출력이 정상적으로 이루어져야 점수가 주어집니다. 예시 입력에 대해 동작시키는 것은 과제 제출의 최소 조건입니다.***
----

### 1. 전화번호에서 지역번호만 가져오기
(10 점)

아래 tel 이라는 변수에 전화번호가 저장되어 있습니다. 여기에서 **인덱스 값**을 활용하여 지역번호만 code 라는 변수에 저장하는 코드를 작성해주세요.

In [12]:
tel = "031-1111-2222"

# 코드 작성란
code = tel[:3]
print(code)

031

In [ ]:
# 결과를 확인해보는 코드입니다. 

print(code)

031

### 2. 반대로 순서를 뒤집기
(10 점)

order 라는 변수에 1,2,3,4,5,6,7,8,9 문자열이 저장되어 있습니다. 이를 거꾸로 출력하는 코드를 작성해주세요. 

**반드시 인덱스 기능을 활용해야 합니다.**

In [5]:
order = "1,2,3,4,5,6,7,8,9"

# 코드 작성란
order[::-1]

'9,8,7,6,5,4,3,2,1'

In [ ]:
# 결과를 확인해보는 코드입니다.
print(order)

'9,8,7,6,5,4,3,2,1'

### 3. 리스트에서 가장 마지막 값을 뽑아내기(마지막 값은 뽑은 후 삭제되도록)
(10 점)

노트북을 구매하기 위해 4개의 제품을 선택했고 이를 리스트에 저장했습니다.

products = ["A", "B", "C", "D"]

여기에서 리스트에 있는 **함수**를 활용하여 가장 마지막 제품을 하나 뽑아서 c 라는 변수에 저장해주세요.

참고 : c 변수에는 마지막 "D" 가 저장되고, products 는 "A", "B", "C" 가 있어야 합니다.

In [22]:
products = ["A", "B", "C", "D"]

# 코드 작성란
c = []
c.append(products[-1])
products = products[:3]
print(c,products)

['D'] ['A', 'B', 'C']

### 4. 형변환
(10 점)

아래 4개의 변수에는 각각 설문 응답여부를 1(응답), 0(미응답) 형태로 저장되어 있습니다.
이를 boolean 타입을 변경하려 합니다. 형변환을 통해 boolean 타입으로 같은 이름의 변수에 덮어써주세요.

즉 1(응답) 이면 True, 0(미응답) 은 False 로 출력 해주세요.

In [14]:
# 아래 4줄 코드는 수정하지 마세요.
check1 = 1
check2 = 0
check3 = 0
check4 = 1

# 코드 작성란
bool(check1),bool(check2),bool(check3),bool(check4)

(True, False, False, True)

### 5. 나이에 따른 버스 요금
(10 점)

사용자에게 나이(변수명 : age)를 입력받은 후, 아래의 운임요금(변수명 : fare) 기준에 맞게 버스 요금을 계산해주세요.

- 7세 이하 : 0원
- 8세 이상 ~ 20세 이하 : 700원
- 21세 이상 : 1200원

In [1]:
# 코드 작성란
age, fare = int(input("나이: ")),0
if age<=7:
    print("{}세".format(age),"{}원".format(fare + 0 ))
elif age<=20:
    print("{}세".format(age),"{}원".format(fare + 700 ))
else:
    print("{}세".format(age),"{}원".format(fare + 0 ))

나이: 7
7세 0원

### 6. 4번째 고객마다 상품권 증정 

(10 점)

방문하는 고객 중 5번째 마다 상품권을 증정( status = "상품권 증정" ) 하는 코드를 작성해주세요.

In [15]:
# 코드 작성란
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 1
count : 1 , 증정하지 않음

In [14]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 4
count : 4 , 증정하지 않음

In [13]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 5
count : 5 , 상품권 증정

In [12]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 10
count : 10 , 상품권 증정

In [11]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 15
count : 15 , 상품권 증정

In [10]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 20
count : 20 , 상품권 증정

In [8]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 8
count : 8 , 증정하지 않음

In [9]:
data = int(input("count : "))
if not data%5:
    print("count : {}".format(data),",", "상품권 증정")
else:
    print("count : {}".format(data),",", "증정하지 않음")

count : 7
count : 7 , 증정하지 않음

In [ ]:
# 출력 결과 예

count : 1 , 증정하지 않음
count : 4 , 증정하지 않음
count : 5 , 상품권 증정
count : 10 , 상품권 증정
count : 15 , 상품권 증정
count : 20 , 상품권 증정
count : 8 , 증정하지 않음
count : 7 , 증정하지 않음

### 7. Dictionary 에 계좌 잔액을 모두 더하는 코드 작성

(10 점)

accounts 라는 딕셔너리의 잔액 (value) 을 total 이라는 변수에 모두 더하여 출력해주세요.

In [3]:
# 아래 accounts dictionary 는 수정하지 마세요.
accounts = {"A계좌": 2322000, "B계좌": 34443000, "C계좌": 6888000}

# 코드 작성란
total = sum(accounts.values())
print(total)

43653000

In [ ]:
# 결과를 확인해보는 코드입니다.

print(total)

43653000

### 8. List Comprehension 으로 코드 작성해보기

(10 점)

아래와 같이 리스트 요소 중에  '음수' 가 있다면 0 으로 바꿔주는 코드를 **List Comprehension** 으로 작성해보세요. (이외에 방법으로 구현하면 부분배점 5점)

In [1]:
numbers = [100, 200, -100, -50, 400, 700]

# 코드 작성란

In [ ]:
numbers = [100, 200, -100, -50, 400, 700]

# 코드 작성란
results,count = [],0
for data in numbers:
    if numbers[count] > 0:
        print(numbers[count])
        results.append(data)
    
    else:
        print(0)
        results.append(data)
        
    count +=1
results

# for은 맞으나 results 실행시 코드 다름

In [96]:
results = [x if not x < 0 else 0 for x in numbers ] 
print(results)

[100, 200, 0, 0, 400, 700]

In [ ]:
# 결과를 확인해보는 코드입니다.

print(results)

[100, 200, 0, 0, 400, 700]

### 9. lambda 함수로 구현하기

(10 점)

아래 함수를 lambda 형식으로 구현해보세요. (이외에 방법으로 구현시 부분배점 5점)

In [ ]:
def add(num):
  return num + 10

print(add(5))

15

In [27]:
# 여기에 위 add 함수와 같은 기능을 하는 lambda 함수를 구현해보세요. 
# 코드 작성란
add_lambda = lambda x: x+10

print(add_lambda(5))

15

In [ ]:
# 결과를 확인해보는 코드입니다.

print(add_lambda(5))

15

### 10. callback function 으로 계산기 만들기

(10 점)

지난 시간에 만들어 보았던 "더하기", "곱하기" 를 계산해주는 함수를 callback function 으로 구현해보세요.

#### 코드
```python
def calc(option, num1 = 100, num2 = 100):

  if option == "더하기":
    total = num1 + num2
  elif option == "곱하기":
    total = num1 * num2
  else:
    total = 0

  return total
```

#### callback function 으로 구현할 때 지켜야 할 사항
1. "더하기" 는 add(), "곱하기" 는 mul() 라는 함수를 만듭니다.
2. 실제 사용자가 더하기 혹은 곱하기 계산을 시키기 위해 사용할 함수 이름은 calc() 입니다.
3. 위 샘플 함수내에 조건문에 else 는 무시합니다.
4. 위 샘플 함수처럼 숫자값을 입력하지 않으면 기본적으로 각각 100 을 할당하게 해주세요.

In [124]:
# 코드 작성란
def calc(option, num1 = 100, num2 = 100):

    if option == add:
        total = num1 + num2
        
    elif option == mul:
        total = num1 * num2
        
    return total

def add(num1,num2):
    return num1 + num2

def mul(num1,num2):
    return num1 * num2
   
calc(add)

200

In [125]:
# 코드 작성란
def calc(option, num1 = 100, num2 = 100):

    if option == add:
        total = num1 + num2
        
    elif option == mul:
        total = num1 * num2
        
        return total

def add(num1,num2):
    return num1 + num2

def mul(num1,num2):
    return num1 * num2
   
calc(mul,3,3)

9

In [ ]:
# 코드 실행 예

calc(add)

200

In [ ]:
# 코드 실행 예

calc(mul, 3, 3)

9