## 자료형
- 리스트
- 튜플
- 딕셔너리

#### 리스트
- 순서가 있는 데이터의 집합

In [66]:
ls = [1, "python", False]
print(type(ls), ls)

<class 'list'> [1, 'python', False]

In [67]:
# 리스트 데이터를 문자열로 합쳐주는 함수 - join
a = ["data", "science", "python"]
result = " ".join(a)
print(result, type(result))

data science python <class 'str'>

### Quiz 1
- 리스트 데이터를 문자열로 합쳐서 문장으로 만들어 주세요.
- 가장 앞글자는 대문자, 마지막에는 마침표를 찍어주세요.
```
ls = ["python", "is", "best", "programming", "language"]
```

In [45]:
ls = ["python", "is", "best", "programming", "language"]
result = " ".join(ls)
result = result[0].upper() + result[1:] + "."
print(result)
# result => "Python is best programing language."

Python is best programming language.

#### 리스트의 오프셋
- 문자열은 하나의 문자를 오프셋 단위로 인식
- 리스트는 하나의 값을 오프셋 단위로 인식

In [46]:
a = ["python", "data", 1, True, "fast"]
print(a[1])

data

In [16]:
print(a[2:])

[1, True, 'fast']

In [17]:
print(a[::-1])

['fast', True, 1, 'data', 'python']

In [19]:
print(a[-2:])

[True, 'fast']

In [47]:
print(a[-2:][0])

True

### Quiz 2
- 홀수 데이터를 거꾸로 출력하세요.
- 오프셋을 사용하세요
```
Is = [0,1,2,3,4,5,6,7,8,9]
```
- 결과
```
# result => [9,7,5,3,1]
```

In [50]:
ls = [0,1,2,3,4,5,6,7,8,9]
result = ls[1::2][::-1]
print(result)

[9, 7, 5, 3, 1]

In [51]:
# 리스트 데이터를 문자열 데이터로 바꿔주는 함수 : join
# 문자열 데이터를 리스트 데이터로 바꿔주는 함수 : spilt
txt = "pyton data science"
ls = ["python", "data", "science"]
result = txt.split(" ")
print(result)

['pyton', 'data', 'science']

### 리스트 함수
- apeend : 데이터 추가
- sort :  데이터 정렬
- reverse : 데이터를 역순으로 정렬

In [53]:
# append 함수
ls = ["data", "science"]
ls.append("fastcampus")
print(ls)

['data', 'science', 'fastcampus']

In [55]:
# sort 함수
ls = ["fast", "data", "campus", "science"]
ls.sort()
print(ls)

['campus', 'data', 'fast', 'science']

In [63]:
#reverse 함수
ls = ["fast", "data", "campus", "science"]
ls.reverse()
print(ls)

['science', 'campus', 'data', 'fast']

In [64]:
print(ls)

['science', 'campus', 'data', 'fast']

In [66]:
ls[1] = "slow"
print(ls)

['science', 'slow', 'data', 'fast']

### quiz 3
- "Beautiful is better than ugly." 단어의 길이가 긴 순서대로 재정려래서 문장을 다시 만드는 코드를 작성해주세요.
- 결과
```
Beautiful better ugly than is
```
- '<list변수>.sort(key=len)'

result => Beautiful better ugly than is.

In [67]:
data = ["abc", "bc", "d","efgh"]
data.sort(key=len)
print(data)

['d', 'bc', 'abc', 'efgh']

In [77]:
txt = "Beautiful is better than ugly."
a = txt.split()
a.sort(key=len)
a.reverse()
result = " ".join(a)
print(result)

Beautiful better ugly. than is

In [1]:
data = "Beautiful is better than ugly."

# 소문자로 변환하고 마지막 마침표 제거
result = data.lower()[:-1]

# 리스트로 변환
result = result.split(" ")

# 단어의 갯수로 오름차순으로 정렬
result.sort(key=len)

# 순서를 역순으로 변경하면 내림차순으로 정렬
result.reverse()
                
# 리스트를 문자열로 변환
result = " ".join(result)

# 가장 앞글자를 대문자로 변경하고 마침표 추가
result = result[0].upper()+ result[1:] + "."

print(result)

Beautiful better ugly than is.

### 튜플
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 리스트보다 저장공간을 적게 사용하는 특징

In [99]:
# 튜플 선언
tp = (1,2,3)
print(type(tp),tp)

<class 'tuple'> (1, 2, 3)

In [100]:
tp[1] = 10

TypeError: 'tuple' object does not support item assignment

In [104]:
# 튜플에서의 오프셋 인덱스 사용
tp[0::2]

(1, 3)

In [105]:
import sys

ls = [1,2,3,4,5]
tp = (1,2,3,4,5)
print(sys.getsizeof(ls),"byte")
print(sys.getsizeof(tp),"byte")

96 byte
80 byte

### 딕셔너리
- 순서가 없는 데이터 집합
- 키, 값으로 구성되어 있는 데이터 타입

In [106]:
# 선언
dic = {
    1: "one",
    "A":["data","science"],
    "숫자":1234,
}
print(type(dic),dic)

<class 'dict'> {1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [108]:
#데이터의 접근
dic["A"], dic[1]

(['data', 'science'], 'one')

In [110]:
#데이터 수정
dic[1] = "하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

### Quiz 4
- 아래의 테이블 데이터를 딕셔너리 데이터 타입으로 선언하세요.

In [113]:
dic = {
    "name":"python",
    "addr":"seoul",
    "age":25
}
print(dic)

{'name': 'python', 'addr': 'seoul', 'age': 25}

In [ ]:
#딕셔너리에서 키값으로 사용할 수 있는 데이터 타입은 문자열과 정수 데이터 타입만 사용 가능합니다.

In [130]:
# 딕셔너리에서는 오프셋 인덱스 사용불가
dic = {
    "data1":1, "data2":2,"data3":3}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [115]:
dic[1]

TypeError: 'set' object is not subscriptable

# 딕셔너리 함수
- keys() : 키 데이터만 가져오는 함수
- values() : 값 데이터만 가져오는 함수
- items() : 키와 값을 가져오는 함수
- update() : 두 개의 딕셔너리를 합쳐주는 함수

In [131]:
dic = {
    "data1":1,
    "data2":2,
    "data3":3,
}
dic

{'data1': 1, 'data2': 2, 'data3': 3}

In [132]:
# keys
result = dic.keys()
print(type(result), result)

<class 'dict_keys'> dict_keys(['data1', 'data2', 'data3'])

In [133]:
# Values
result = dic.values()
result

dict_values([1, 2, 3])

In [134]:
# items
result = dic.items()
result

dict_items([('data1', 1), ('data2', 2), ('data3', 3)])

In [136]:
# update
dic1 = {1:"a",2:"b"}
dic2 = {3:"c",4:"d"}
# dic3 = 
dic1.update(dic2)
dic3 = dic1
print(dic3)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### Quiz 5
- "국어 점수는 80점, 영어 점수는 90점, 수학 점수는 70점"이 데이터를 리스트, 튜플, 딕셔너리 데이터 타입으로 나타내세요.

In [143]:
ls = [80,90,70] = "korean","english","math"
tp = ("korean","english","math") = 80,90,70
dic = {
    "korean":80,
    "english":90,
    "math":70
}

SyntaxError: cannot assign to literal (<ipython-input-143-81ea8dcfeae2>, line 1)

In [91]:
# list1
subjects = ["국어","영어","수학"]
points= [80,90,70]

# list2
data = [("국어",80),("영어",90),("수학",70)]

# tuple
data = (("국어",80),("영어",90),("수학",70))

#dict
dic = {
    "korean":80,
    "english":90,
    "math":70,
}

### quiz 3
- "Beautiful is better than ugly." 단어의 길이가 긴 순서대로 재정려래서 문장을 다시 만드는 코드를 작성해주세요.
- 결과
```
Beautiful better ugly than is
```
- '<list변수>.sort(key=len)'

result => Beautiful better ugly than is.

In [27]:
a = "Beautiful is better than ugly."
a = a.lower()
a = a[:-1].split(" ")
a.sort(key=len)
a.reverse()
result = " ".join(a)
print(result[0].upper() + result[1:] + "." )

Beautiful better ugly than is.

In [35]:
a = "Beautiful is better than ugly."
a = a.lower()
a = a[:-1].split(" ")
a.sort(key=len)
a.reverse()
result = " ".join(a)
print(result[0].upper() + result[1:] + ".")

Beautiful better ugly than is.

In [54]:
a = "Beautiful is better than ugly."
a= a.lower()
a= a[:-1].split(" ")
a.sort(key=len)
a.reverse()
result = " ".join(a)
print(a)
print(result[0].upper() + result[1:] + ".")

['beautiful', 'better', 'ugly', 'than', 'is']
Beautiful better ugly than is.

In [60]:
a = "Beautiful is better than ugly."
a= a.lower()
a= a[:-1].split(" ")
a.sort(key=len)
a.reverse()
result = " ".join(a)
print(a)
print(result[0].upper() + result[1:] + "." )

['beautiful', 'better', 'ugly', 'than', 'is']
Beautiful better ugly than is.

In [65]:
a = "Beautiful is better than ugly."
a= a.lower()
a = a[:-1].split(" ")
a.sort(key =len)
a.reverse()
result = " ".join(a)
print(a)
print(result[0].upper ()+ result[1:]+".")

['beautiful', 'better', 'ugly', 'than', 'is']
Beautiful better ugly than is.

### Quiz 1
- 리스트 데이터를 문자열로 합쳐서 문장으로 만들어 주세요.
- 가장 앞글자는 대문자, 마지막에는 마침표를 찍어주세요.
```
ls = ["python", "is", "best", "programming", "language"]
```

In [80]:
ls = ["python", "is", "best", "programming", "language"]
a = " ".join(ls)
print(a[0].upper() + a[1:]+ ".")

Python is best programming language.

### Quiz 2
- 홀수 데이터를 거꾸로 출력하세요.
- 오프셋을 사용하세요
```
Is = [0,1,2,3,4,5,6,7,8,9]
```

In [90]:
a = [0,1,2,3,4,5,6,7,8,9]
a[1::2][::-1]

[9, 7, 5, 3, 1]