### summary
- pandas
    - 데이터 분석: 데이터 전처리 파트
    - 테이블 형태의 데이터를 처리할때 사용하는 python 라이브러리
    - Series, DataFrame
    - Series
        - 생성, 선택, 수정 방법
    - DataFrame
        - 생성 방법 1 : 딕셔너리의 리스트 : 리스트 -> 컬럼
        - 생성 방법 2 : 리스트의 딕셔너리 : 딕셔너리 -> 로우데이터
        - row 선택 : `df.loc[idx]`
        - column 선택 : `df[column name]`
        - row, column 선택 : `df.loc[idx. column]`
        - 함수
            - apply, append, concat
            - groupby, merge

In [ ]:
import makedata

In [ ]:
makedata.get_age(), makedata.get_name()

In [ ]:
makedata.make_data()

### Quiz 
- makedata 모듈을 이용해서 DataFrame을 만들기
- user_df 
    - 8명의 데이터가 있는 데이터 프레임을 만드세요,
    - user ID : 1~8
    - Name : makedata.get_name()
    - Age : makedata.get_age
    - 중복되는 값이 없도록

In [ ]:
from makedata import *

In [ ]:
# 딕셔너리의 리스트: UserID, Name, Age
datas = {}
datas["UserID"] = list(range(1,9))
datas["Age"] = [makedata.get_age() for _ in range(8)]
names = []
while True:
    
    name = makedata.get_name()
    if name not in names:
        names.append(name)
    
    if len(names) >= 8:
        break
    
datas["Name"] = names
        
user_df = pd.DataFrame(datas)
user_df
# for _ 사용하는 이유 넘어오는 데이터를 for문에서 사용하지 않지만 뭔가 변수로 받는게 있을때 사용함

In [ ]:
def test():
    return 1,2
a,_ = test()
a
# _ 사용하지 않는 변수

In [ ]:
# 리스트의 딕셔너리 : UserID, Name, Age
# 딕셔너리 데이터를 데이터 프레임에 하나씩 추가하기 : UserID, Name, Age
user_df = pd.DataFrame(columns = ["UserID","Name","Age"])


for idx in range(1,9):
    
    name = makedata.get_name()
    while name in list(user_df["Name"]):
        name = makedata.get_name()
        # 중복되는 것이 없게 중복되면 다시 새로 되게 만듬
    data = {"Name":name, "UserID":idx, "Age":makedata.get_age()}
    
    user_df.loc[len(user_df)] =data

user_df

#### Quiz 
- money_df 만들기
- 15개의 데이터가 있습니다.
- ID : 1 ~ 8 랜덤한 숫자 데이터
- Money : 1000원 단위로 1000원 ~ 200000원까지의 숫자가 저장

In [ ]:
datas = {}
datas["UserID"] = list(range(1,9))
datas["Age"] = [makedata.get_age() for _ in range(8)]
names = []
while True:
    
    name = makedata.get_name()
    if name not in names:
        names.append(name)
    
    if len(names) >= 8:
        break
    
datas["Name"] = names
        
user_df = pd.DataFrame(datas)
user_df

In [ ]:
money_df = pd.DataFrame(columns = ["ID","Money"])
for _ in range(15):
    money_df.loc[len(money_df)] = {
        "ID" :np.random.randint(1,9),
        "Money" :np.random.randint(1,21)*1000,
    }
    



ids = money_df["ID"].unique()
ids.sort()
ids

In [ ]:
money_df

In [ ]:
user_df

### 1. merge

In [ ]:
user_df.merge(money_df, left_on="UserID", right_on="ID")

In [ ]:
# 컬럼명 변경
user_df.rename(columns={"UserID":"ID"}, inplace = True)
user_df.tail(1)

In [ ]:
user_df.merge(money_df).tail(2)

In [ ]:
result_df = pd.merge(money_df, user_df)
result_df.tail()

In [ ]:
# groupby sum, size, min ... 함수:Series
money_list = result_df.groupby("Name").sum()["Money"].reset_index()
money_list

In [ ]:
# groupby :agg("sum"),agg("mean") ... : DataFrame
money_list = result_df.groupby("Name").agg("sum").reset_index()[["Name", "Money"]]
money_list

In [ ]:
# merge : money_list, user_df:outer

In [ ]:
result = pd.merge(user_df,money_list, how="outer")
result

In [ ]:
# fillna : NaN 을 특정 데이터로 채워줌

In [ ]:
result.fillna(value = 0 , inplace=True)
result

In [210]:
# money 컬럼을 정수로 데이터 타입을 변경
result.dtypes

ID       float64
Age      float64
Name      object
Money    float64
dtype: object

In [ ]:
result["Money"] = result["Money"].astype("int")
result

In [ ]:
result.sort_values("Money",ascending=False)

In [ ]:
result.sort_values("Money",ascending=False)[:3]

In [ ]:
np.average(result.sort_values("Money",ascending=False)[:3]["Money"])

In [ ]:
np.average(result.sort_values("Money",ascending=False)[:3]["Age"])