## 1. 파이썬의 기본 문법

### 주석과 출력
    - 주석 : 코드를 실행하고 싶지 않을때, 코드에 대한 설명
    - 출력 : 변수의 값이나 내용을 출력해주는 방법

In [1]:
#print(1234)
print(1234)

1234

### 변수 선언
    - RAM(메모리)의 저장공간을 사용하기 위한 방법

In [3]:
# 메모리에 a라는 이름을 가진 저장공간이 만들어지고 그 공간에 1이라는 데이터가 저장
a = 1

### 식별자 규칙
    - a~z, A~Z, 0~9,....
    - 가장 앞에 숫자 사용이 불가
    - 예약어는 사용이 불가능 (clss, def)
    - print len ->함수라 사용가능

## 2. 자료형: Datatype
    - 변수를 선언할때 메모리에 저장공간이 만들어지는데, 저장공간에 저장하는 데이터의 자료 타입을 설정
    - 변수를 선언할때 메모리 공간을 효율적으로 사용하기 위해 만들어진 개념
    - 동적타이핑 : 변수를 선언할때 변수에 저장되는 값에 따라서 자동으로 데이터 타입이 설정되는 기능
    - 변수의 데이터 타입을 확인하는 함수 : type(<변수명>)

In [5]:
a = 1
type(a)

int

### 데이터 타입의 종류
- integer : 정수
- float : 실수
- boolean : True, False
- string : "python"
- list : 순서가 있는 데이터의 집합
- Tuple : 리스트와 같은 특징을 갖습니다. 리스트는 수정이 가능, 튜플 수정이 불가능
- Dicitionary : 순서가 없고 키값과 value 값으로 이루어진 데이터 타입`ㅡ

In [7]:
a = 1
b = 1.2
c = "True"
d = "python"
e = [1, 2, 3, "python", b, [a,b]]
f =(1, 2, 3)
g= {"a":1, "b":2}

### 오프셋(offset)
- 특정 위치의 데이터를 선택하는 방법
- 문자열, 리스트, 튜플 데이터 타입에서 사용될 수 있다.
- [index] : 특정 위치의 하나의 데이터를 선택
- [start:end] : 시작(start)과 끝(end) 위치 사이의 데이터를 선택
- [start:end:stride] : 시작과 끝을 범위로 선택하되 점프하여 선택

In [11]:
a= "abcde"
a[1], a[1:3], a[::2]

('b', 'bc', 'ace')

In [12]:
b = ["a","b","c","d","e"]
a[1], a[-2], a[::-1]

('b', 'd', 'edcba')

### 데이터 타입에 따른 함수
- 함수: 특정 기능을 하는 코드를 하나로 묶어서 실행하는 방법
    
- 문자열 : string
    - upper() : 대문자로 변경
    - lower() : 소문자로 변경
    - replace() : 문자열 치환
    - strip() : 앞뒤 공백 제거
    - find() : 문자열의 위치를 찾음
    - join() : 리스트를 하나의 문자열로 합침
        
- 리스트 : List
    - append() : 데이터 추가
    - sort() : 데이터 정렬
    - reverse() : 데이터를 역순으로 정렬

- 딕셔너리 : Dictionary
    - keys() : 키 데이터만 가져옴
    - values() : 값 데이터만 가져옴
    - items() : 키와 값을 가져옴
    - update() : 두개의 딕셔너리를 합쳐줌

In [18]:
a = " python "
a.upper(), a.lower(), a.replace("p","cp"), a. strip(), a.find("th"), "-".join(["C", "python"])

(' PYTHON ', ' python ', ' cpython ', 'python', 3, 'C-python')

In [23]:
b = [3,2,1] 
b.append(4)
print(b)
b.sort()
print(b)
b.reverse()
print(b)

[3, 2, 1, 4]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [24]:
c= {"a":1, "b":2}
d = {"b":3, "c":4}
print(c.keys(),c.values(), c.items())
c.update(d)
print(c)

dict_keys(['a', 'b']) dict_values([1, 2]) dict_items([('a', 1), ('b', 2)])
{'a': 1, 'b': 3, 'c': 4}

## 3. 데이터 타입의 형변환
- 데이터 타입과 데이터의 값에 따라서 변수의 데이터 타입 변경이 가능
- int() : 정수로 형변환
- str() : 문자열로 형변환
- bool() : Boolean으로 형변환

In [28]:
a,b,c = "1", 10, 0
int(a), str(b), bool(c)

(1, '10', False)

bool - 문자열은 아무 문자 없을 떄 정수형태, 실수 형태 0일때 , list,tuple,dictionary 데이터 없을 때 - False

## 4. 입력과 출력
- input() : 입력 함수
- print() : 출력 함수
    - sep, end
    - format() : 문자열 중간중간에 변수의 값을 추가할수 있도록 해주는 함수

In [29]:
data = input("insert string: ")
data

insert string: python

'python'

In [31]:
print("data","science", sep = " - ", end = "!")

data - science!

In [34]:
a, b = 2,3
str(a) + "*" + str(b) + "=" + str(a*b)

'2*3=6'

In [32]:
a, b = 2, 3
"{}*{}={}".format(a,b,a*b)

'2*3=6'

## 5. 연산자 : Operators

- 산술 연산자
    - 두개의 데이터의 기본적인 수학연산을 하는 연산자
    - +, - , *, **, /, // , %
    
- 비교연산자
    - 두 데이터를 비교하여 논리가 맞으면 True 틀리면 False를 출력
    - +=, -+, =, /=, %=. //=. *=
    
- 논리 연산자
    - 논리의 참과 거짓을 나타내는 연산자
    - and : 둘다 True 일때 True
    - or : 둘다 False 일때 Fales
    - not : True 는 False, False는 True
    
- 멤버 연산자
    - 데이터의 집합(문자열, 리스트, 튜플, 딕셔너리)에서 특정 데이터가 포함되어 있는지 확인하는 연산자
    - in : 데이터가 포함되어 있으면 True를 출력
    - not in : 데이터가 포함되어 있지 않으면 True를 출력

In [35]:
a, b = 3,2
a + b, a//b, a**2

(5, 1, 9)

In [36]:
a, b, c = 2,3,2
a == b, a !=c, a<b, a>= c

(False, False, True, True)

In [38]:
a = 1
a += 2
a *= 3
a

9

In [40]:
a, b  = 1, 2 
(a < b) or (a == b)

True

In [41]:
a, b  = 1, 2 
(a < b) and (a == b)

False

In [42]:
a = [1,2,3]
2 in a, 4 in a, 2 not in a, 4 not in a

(True, False, False, True)

## 6. 조건문
- 조건에 따라서 코드를 실행시키고 싶을 때 사용
- if 
    - 한개의 조건으로 코드를 실행시킬때 사용
- elif
    - 여러개의 조건을 사용할때 if에 추가하여 사용
- else
    - if, elif문의 조건이 모두 False일때 실행되는 구문
- 삼항 연산
    - if, else로 되어 있는 간단한 조건문을 한줄로 표현하는 방법
    - (참) if (조건) else (거짓)

In [45]:
a = 7
if a < 10 :
    print("a < 10")
elif a< 100:
    print("a < 100")
else: 
    print("a >= 100")

a < 10

## 7. 반복문
- while
- break
- continue
- for

while

- condition이 False가 될때까지 code가 반복적으로 실행
```
    while <condition>:
        <code>
```

In [48]:
a = 0 
while a <5:
    a+=1
    print(a)
print("done")

1
2
3
4
5
done

#### break
- 반복문 중간에 반복을 중단시키는 명령
- whlie과 for에 모두 적용

In [50]:
a = 0 
while a <5:
    a+=1
    if a == 3:
        break
    print(a)
print("done")

1
2
done

#### continue
- 반복문 중간에 조건을 확인하는 부분으로 코드를 실행시키는 명령
- while과 for에 모두 적용

In [51]:
a = 0 
while a <5:
    a+=1
    if a % 2:
        continue
    print(a)
print("done")

2
4
done

#### for
- iterable(순서가 있는 데이터의 집합)의 데이터를 하나씩 꺼내서 value에 대입시킨후 code를 수행
- code는 itreable의 갯수 만큼 실행
```
    for <value> in <iterable> :
        <code>
```

In [54]:
ls = [0,1 ,2 ]
for data in ls:
    print(data)

0
1
2

#### range 
- list를 간편하게 생성하기 위한 함수
```
range(end)
range(start,end)
range(start,end,stride)
```

In [60]:
list(range(5))

[0, 1, 2, 3, 4]

In [58]:
list(range(1,4))

[1, 2, 3]

In [61]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [62]:
for data in range(3):
    print(data)

0
1
2

#### enumerate
- 리스트 데이터를 index와 value값을 동시에 사용할 수 있게 해주는 함수

In [66]:
ls = ["a","b","c"]
print(list(enumerate(ls)))
for idx, data in enumerate(ls):
      print(idx,data)
#0 a
#1 b
#2 c

[(0, 'a'), (1, 'b'), (2, 'c')]
0 a
1 b
2 c

In [67]:
ls = ["a","b","c"]
print(list(enumerate(ls)))
for idx,value in enumerate(ls):
    print(idx, value)

[(0, 'a'), (1, 'b'), (2, 'c')]
0 a
1 b
2 c

#### zip 
- n개의 리스트를 같은 index끼리 묶어주는 함수

In [70]:
ls1 = ["a","b","c"]
ls2 = [1,2,3]
print(list(zip(ls1,ls2)))
for data1, data2 in zip(ls1, ls2):
    print(data1, data2)

[('a', 1), ('b', 2), ('c', 3)]
a 1
b 2
c 3

#### random
- 랜덤하게 데이터를 뽑아주는 함수

In [71]:
import random

In [75]:
random.randint(4,10)

8